main .profile {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 15em;
}

main .profile .cover img {
  border-radius: 50% 50%;
}

main .profile .details {
  width: 50%;
}

main .profile .details label {
  font-weight: bold;
  font-size: 18px;
  font-style: normal;
  display: inline-block;
  width: 8em;
  margin: 0 0 1em 0;
}

main .profile .details input {
  border: 1px solid #f0f0f0;
  width: 20em;
  font-size: 20px;
}

main .profile .details button {
  margin: 0 0 0 12em;
  background-color: #4fc3f7;
  color: #ffffff;
  height: 3em;
  width: 6em;
  border: none;
  cursor: pointer;

}
