* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  list-style: none;
}
body {
  font-family: Poppins;
  font-style: normal;
  font-size: 16px;
  width: 100%;
  background: #ffff;
}

header {
  background-color: #FFFFFF;
  height: 80px;
  line-height: 80px;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 29px 39px rgba(0, 0, 0, 0.01);

}
header .logo {
  width: 12.8em;
  position: relative;
  display: inline-block;
}
header .logo img {
  width: 40px;
}

header .logo a .name-logo {
  position: absolute;
  top: -1em;
  left: 3em;
}

header .logo a p {
  position: absolute;
  top: 0;
  left: 2.8em;
  font-family: Open Sans Hebrew;
  font-style: normal;
  font-weight: normal;
  color: #131045;
}

/* dropdown */
header .dropdown .dropbtn {
  background-color: #f8f8f8;
  color: #131045;
  padding: 1em;
  border: none;
  cursor: pointer;
  width: 140px;
  border-radius: 6px 0px 0px 6px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

header .dropdown .dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

header .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
 .dropdown-content a:hover {background-color: #ddd}

.show {
  display:block;
}

header .dropdown i {
  position: absolute;
  top: 2em;
  left: 7.5em;
}
/* end-dropdown */
header .search {
  position: relative;
}

header .search input {
  width: 30em;
  background: #F8F8F8;
  border-radius: 0px 6px 6px 0px;
  border: none;
  height: 62.64px;
}

header .search input::placeholder {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #4D4A85;
}

header .search a {
  position: absolute;
  top: 2em;
  left: 19em;
}

header .cart {
  position: relative;
}

header .cart a {
  padding: 1em;
}
/* header .cart .heart span{
  position: absolute;
  display: inline-block;
  background: #F22462;
  border: 3px solid #FFFFFF;
  height: 20px;
  top: 10px;
  left: 1.5em;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffff;
  border-radius: 40px;
  text-align: center;
  padding: 0px 3px;
} */
header .cart  span{
  position: absolute;
  display: inline-block;
  background: #F22462;
  border: 3px solid #FFFFFF;
  height: 20px;
  top: 10px;
  left: 1.5em;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffff;
  border-radius: 40px;
  text-align: center;
  padding: 0px 3px;
}

header .cart .cart-plus span{
  position: absolute;
  display: inline-block;
  background: #F22462;
  border: 3px solid #FFFFFF;
  height: 20px;
  top: 10px;
  left: 5em;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffff;
  border-radius: 40px;
  text-align: center;
  padding: 0px 3px;
}

header .cart1 {
   position: relative;
}

header .cart1 span{
  position: absolute;
  display: inline-block;
  background: #F22462;
  border: 3px solid #FFFFFF;
  height: 20px;
  top: 10px;
  left: 6px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffff;
  border-radius: 40px;
  text-align: center;
  padding: 0px 3px;
}

header .profile {
  position: relative;
  width: 215px;
}

header .profile .content-profile {
  position: absolute;
  top: 1.5em;
  left: 1em;
}

header .profile .content-profile span {
  display: block;
  line-height: 20px;
  color: #131045;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

header .profile .btn-profile {
  position: absolute;
  top: 2.5em;
  left: 14.8em;
  border: none;
  cursor: pointer;
}

header .menu-mobile {
  display: none;
}


@media only screen and (max-width: 1024px ) {
  header {
    width: 100%;
  }

  header .profile {
    display: none;
  }

  header .menu-mobile {
    display: inline;
  }

  header .search input {
    width: 300px;
  }

  header .search a {
    position: absolute;
    top: 2em;
    left: 17em;
  }

}

@media only screen and (max-width: 480px ) {
  header{
    width: 100%;
  }

  header .search {
    display: none;
  }

  header .dropdown {
    display: none;
  }
}
